<div class="container">
  <hr />
  <div>
    Project: <input [(ngModel)]="searchText" placeholder="Search.." class="form-control"><br>
    <button class="btn btn-primary" (click)="OpenProjectModal()">Search</button>
    Sort Task By: <button class="btn btn-primary" (click)="SortByProject('startdate')">Start Date</button> &nbsp;&nbsp;
    <button class="btn btn-primary" (click)="SortByProject('enddate')">End Date</button>&nbsp;&nbsp;
    <button class="btn btn-primary" (click)="SortByProject('priority')">Priority</button>&nbsp;&nbsp;
    <button class="btn btn-primary" (click)="SortByProject('completed')">Completed</button>&nbsp;&nbsp;
  </div>
  <br>
</div>

<section>
  <div class="container" *ngIf="taskCount>0">

    <table class="table table-striped table-responsive-sm table-responsive-md mt-3">
      <thead class="task-head-sec">
        <tr>
          <th scope="col">Task</th>
          <th scope="col">Parent</th>
          <th scope="col">Priority</th>
          <th scope="col">Start</th>
          <th scope="col">End</th>
          <th scope="col"></th>
          <th scope="col"></th>

        </tr>
      </thead>
      <tbody class="task-body-sec">
        <tr *ngFor="let task of allTask | grdFilter: searchText">
          <th scope="row">{{ task.TaskName }}</th>
          <td>{{ task.ParentTask }}</td>
          <td>{{ task.Priority }}</td>
          <td>{{ task.StartDate }}</td>
          <td>{{ task.EndDate}}</td>
          <td>
            <div *ngIf="task.Status=='Completed'">
              <button class="btn btn-primary edit-btn" disabled>Edit</button>
            </div>
            <div *ngIf="task.Status!='Completed'">
              <a class="btn btn-primary edit-btn" [routerLink]="['/addtask',task.TaskId]">Edit</a>
            </div>
          </td>
          <td>
            <div *ngIf="task.Status=='Completed'">
              <button class="btn btn-info edit-btn" disabled>End Task</button>
            </div>
            <div *ngIf="task.Status!='Completed'">
              <button class="btn btn-info edit-btn" (click)="EndTask(task.TaskId)">End Task</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="taskCount==0" style="color: red; font-weight: bold">No Records Found</div>
</section>


<div class="backdrop" [ngStyle]="{'display':display}"></div>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Project Details</h4>
        <button type="button" class="close" aria-label="Close" (click)="closeProjectModal()"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body" *ngIf="projectCount>0">
        <div class="container">
          Search by Project Id, Project Name
          <hr />
          <div>
            <input [(ngModel)]="searchUserText" placeholder="Search.." class="form-control"><br>
          </div>
          <div style="width: 450px; height: 300px; overflow-y: scroll;">
            <table class="table table-striped table-responsive-sm table-responsive-md mt-3">
              <thead class="task-head-sec">
                <tr>
                  <th scope="col">Project ID</th>
                  <th scope="col">Project Name</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody class="task-body-sec">
                <tr *ngFor="let project of allProjects | grdFilter: searchUserText">
                  <td>{{ project.ProjectId }}</td>
                  <td>{{ project.ProjectName }}</td>
                  <td><button type="button" class="btn btn-default" (click)="SelectProject(project.ProjectId,project.ProjectName)">Select</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div *ngIf="projectCount==0" style="color: red; font-weight: bold">No Records Found</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="closeProjectModal()">Close</button>
      </div>
    </div>
  </div>
</div>